* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.birthday-tab,
.response-tab {
  background-color: #fff8f5;
  padding: 20px;
}

.primary-color {
  color: #ffa600;
}
.secondary-color {
  color: #ffffff;
}
.main-block {
  height: 100vh;
  align-items: center;
}

.form-block {
  padding: 20px;
  background-color: #ffa600;
  border-radius: 10px;
}

.submit-btn {
  width: 100%;
}
